---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <h1>404</h1> 
        <p>Page not found</p>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
